.App {
  text-align: center;
  max-width: 400px;
  --color-primary: #ffffff;
  --color-secondary: #27478A;
  --color-secondary-dark: #142549;
  --color-error: #cc3333;
}

.whole-app{
  align-items: center;
}

/* @media (prefers-reduced-motion: no-preference) {
 .image-wrapper{
    animation: App-logo-spin infinite 20s linear;
  }
} */

.image-wrapper{
  align-items: center;
  justify-self: center;
  height: auto;
  scale: 70%;
  max-width: 100%;
  margin: -5px;
}



.logoutLink {
  margin-block: 5px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  text-decoration: none;
  color: black;
}

.logoutLink-button{
  padding: 5px;
  background-color: var(--color-secondary);
  width:200px;
  max-width: max-content;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--color-secondary);
  border-radius: var(--border-radius);
  border-color:#142549;

}

.logoutLink-button:hover{
  background: var(--color-secondary-dark);
}

.logoutLink-button:active{
  transform: scale(0.98);
}


.add-event-button{
  padding: 5px;
  background-color: var(--color-secondary);
  width:200px;
  max-width: max-content;
  font-weight: bold;
  font-size: 0.99rem;
  color: var(--color-secondary);
  border-radius: var(--border-radius);
  border-color:#142549;
  

  /* width:100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-secondary); */

}

.add-event-button:hover{
  background: var(--color-secondary-dark);
}

.add-event-button:active{
  transform: scale(0.98);
}


.add-task-button{
  padding: 5px;
  background-color: var(--color-secondary);
  width:200px;
  max-width: max-content;
  font-weight: bold;
  font-size: 0.99rem;
  color: var(--color-secondary);
  border-radius: var(--border-radius);
  border-color:#142549;
  

  /* width:100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-secondary); */

}

.add-task-button:hover{
  background: var(--color-secondary-dark);
}

.add-task-button:active{
  transform: scale(0.98);
}


.organize-tasks-button{
  padding: 5px;
  background-color: var(--color-secondary);
  width:200px;
  max-width: max-content;
  font-weight: bold;
  font-size: 0.99rem;
  color: var(--color-secondary);
  border-radius: var(--border-radius);
  border-color:#142549;
  

  /* width:100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-secondary); */

}

.organize-tasks-button:hover{
  background: var(--color-secondary-dark);
}

.organize-tasks-button:active{
  transform: scale(0.98);
}




.treeview-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #1243a3;
  text-decoration-color: #1243a3;
}

.scheduler-component {
  float: center;
  margin-top: 5px;
  width: 100%;
}

.treeview-component {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner-treeview-component{
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: 1px solid black;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}